{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Wysonda{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">
                    <i class="bi bi-person-plus text-primary"></i>
                    {{ title }}
                </h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="d-flex justify-content-between">
                        {% if event %}
                            <a href="{% url 'polls:admin_event_detail' event.id %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Powrót do wydarzenia
                            </a>
                        {% else %}
                            <a href="{% url 'polls:admin_dashboard' %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Powrót
                            </a>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-check-circle"></i> Zapisz
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
